// Root

* {
    box-sizing: border-box;
}
a {
    text-decoration: none;
}

// Utilities

.disabled-link {
    pointer-events: none;
}

.clickable {
    pointer-events: auto !important;
}
// Navbar //
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 0px 1px black;
    border-bottom: 1px solid black;

    .logo-cont a {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0.5em 1.5em;
        &:hover img[alt="logo"] {
            transform: rotate(-270deg);
            transition: transform 0.75s ease-in-out;
        }
    }
    img[alt="logo"] {
        width: 3.5em;
        height: auto;
        transform: rotate(0deg);
        transition: transform 0.5s ease-in-out;
    }
    h1 {
        padding-left: 0.25em;
        font-weight: bold;
    }
}

nav {
    a:hover {
        border-bottom: 2px solid black;
    }
    ul {
        display: flex;
        list-style-type: none;
        padding-right: 1.5em;
        li {
            font-size: 1.15em;
            padding: 0.5em 1.5em;
            font-weight: 500;
        }
    }
}

// Homepage

.hero-home {
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10vw;
    color: white;
    font-size: 1.1em;
    h2,
    h3,
    p {
        text-shadow: 0px 0px 5px black;
    }
    h2 {
        font-size: 2em;
    }
    h2,
    h3 {
        margin-bottom: 0.25em;
        width: 50%;
        margin: auto;
        text-align: center;
    }
    p {
        width: 70%;
        margin: auto;
        text-align: center;
    }
}

.features {
    display: grid;
    @media (min-width: 768px) {
        grid-template-columns: 1fr 1fr;
        grid-gap: 1em;
    }
    img[alt="features-img"] {
        width: 100%;
        height: auto;
        display: block;
        -moz-box-shadow: inset 0 0 10px #fff;
        -webkit-box-shadow: inset 0 0 10px #fff;
        box-shadow: inset 0 0 10px #fff;
    }
    img[alt="features-img"] {
        padding: 6vw;
    }
}

// Login //

.login-cont {
    display: flex;
    width: 100%;
    height: 600px;
    justify-content: center;
    align-items: center;
    h2 {
        margin: 0em auto;
    }
}
form {
    width: 350px;
    border: 1px solid black;
    border-radius: 10px;
    padding: 3em;
    display: flex;
    flex-direction: column;
    .icon {
        border: 1px solid black;
        font-size: 2em;
        border-radius: 20px;
    }
    label,
    input[type="submit"] {
        &:hover {
            cursor: pointer;
        }
    }
    label {
        font-size: 0.85em;
        margin-bottom: 0.25em;
    }
    input {
        padding: 0.5em;
        margin-bottom: 1em;
        border-radius: 5px;
        border: 1px solid black;
    }
    input[type="submit"] {
        background: black;
        color: white;
        border: none;
        border-radius: 5px;
    }
}

// Editor //
.toolbar {
    text-align: center;
    & > span {
        padding: 0.5em;
        &:hover {
            cursor: pointer;
            color: gray;
            opacity: 0.7;
            transition: all 0.2s;
        }
    }
}

.ProseMirror {
    color: rgb(48, 48, 48);

    min-height: 60vh;
    padding: 2em 5vw;
}

// My Docs

.my-docs {
    padding: 3% 5%;
    ul.filelist {
        list-style-type: none;
        display: grid;
        grid-template-columns: 1fr;
        li {
            width: 100%;
            a:visited {
                color: inherit;
            }
            &:first-of-type {
                display: grid;
                grid-template-columns: 5fr 2fr 2fr 1fr;
                padding: 0.25em 2%;
                font-size: 0.9em;
            }
            span {
                display: flex;
                align-items: center;
            }
            span > svg {
                margin-right: 1em;
                font-size: 0.9em;
                color: black;
            }
            a:not(.delete) {
                display: block;
                width: 100%;
                padding: 0.75em 2%;
                border: 1px gray solid;
                border-radius: 10px;
                display: grid;
                grid-template-columns: 5fr 2fr 2fr 1fr;
                margin-bottom: 0.25em;
                &:hover {
                    box-shadow: 0px 0px 3px blue;
                }
            }
            .delete {
                display: flex;
                justify-content: center;
                svg:hover {
                    cursor: pointer;
                    color: blue;
                }
            }
            input[type="text"]:focus {
                border: blue 1px solid;
                font-size: 0.95em;
                padding: 0.15em;
                font-family: -apple-system, BlinkMacSystemFont, "Segoe UI",
                    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
                    "Droid Sans", "Helvetica Neue", sans-serif;
            }
        }
    }
}

// Right click menu

.right-click-menu {
    position: absolute;
    display: none;

    background: white;
    animation: fadeIn 0.2s ease-in-out;

    // border: 1px solid slategray;
    list-style-type: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
    border-radius: 0px 5px 5px 5px;
    box-shadow: 1px 1px 3px gray;
    li {
        margin: 0;
        text-align: center;
        background: #fafafa;
        color: rgb(74, 84, 94);
        width: 100%;
        font-size: 0.9em;
        font-weight: 500;
        padding: 0.25em 1.5em;
        border-bottom: lightgray solid 1px;
        &:hover {
            background: darkgray;
            cursor: pointer;
            color: white;
            transition: all 0.2s;
        }
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
